.display1{
	display:flex;
	display:inline-block;
}
.bgnav{
	background-color:#ffffff;
	box-shadow:3px 3px 4px #aab2a6;
	
}
.navimg{
	margin-top:-2px;
}
.spaceleftright{
	margin-left:20px;
	margin-right:20px;
	padding-left:10px;
	padding-right:10px;
}
.pageroot{
	margin-top:0px;
	margin-right:5px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
}
.pageroot1{
	background-color:#cdf3ba;
	background-attachment:fixed;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
}
.pageroot:hover{
	background-color:#cdf3ba;
	background-attachment:fixed;
}
a{
	text-decoration:none;
}
.icon{
	font-size:35px;
	color:#4267B2;
	padding-right:4px;
	padding-left:4px;
}
.pageinner{
	padding-right:4px;
	padding-left:4px;
	font-weight:bold;
	color: black;
}
.pageinner:hover{
	color:#214b1b;
}
.page{
	font-size:14px;
	font-weight:700px;
	align-items:center;
	letter-spacing:0.02857em;
	font-family:"Roboto", "Helvetica", "Arial", sans-serif;
	display:inline-flex;
	justify-content:center;
	padding-left:4px;
	padding-right:8px;
	margin-right:4px;
}
.iconpositi{
	margin-top:0px;
}

.bga:hover{
	background-color:#cdf3ba !important;
}
.NS{
	text-align:center;
	text-decoration:underline #1f661a 3px;
	font-size:18px;
	font-family:"Roboto", "Helvetica", "Arial", sans-serif !important;
}
.SCcontainer{
	margin-left:15px;
	margin-right:15px;
}
.SCcap{
	background-color:#374553;
	color:white;
	position:absolute;
	font-weight:bold;
	font-size:14px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;	
	opacity:0.8;
	width:100%;
	text-align:center;
	padding:8px;
	line-height:1.5;
	bottom:0;
	margin:0;
}
.SCROW1{
	margin-top:30px;
}
.SCIMG{
	border-radius:8px;
}
.SCFLEX{
	display:flex;
}
.SCCOL{
	margin-right:20px;
}
.footerabout{
	background-color:#384552;
	margin-top:30px;
}
.footerrow{
	margin-left:100px;
	margin-right:70px;
}
.footertxt{
	font-size:14px;
	color:white;
	text-decoration:none;
	padding:16px;
}
.footertxt:hover{
	color:white;
	text-decoration:underline white;
}
.footercol{
	padding:16px;
}